@model HydrographicOffice.Models.NewSurveyVm
@inject CultureLocalizer _Localizer

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout";

}
@*<link href="~/Admin/FileUploader/css/fileinput.css" rel="stylesheet" />
<link href="~/Admin/FileUploader/themes/explorer-fa/theme.css" rel="stylesheet">
<link href="~/Admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet" />*@



<link href="~/sty/Style_Qty.css" rel="stylesheet">

<h2 class="txtTopStylearch223-Hyd mt-5" style="text-align:center"><mark class="highlight ">@_Localizer.Text("HydroSurvey") </mark> </h2>


<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10 ">

            <form asp-action="Create" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>




                @*<div class="card px-5 py-5 ">*@
                @*<h2 class="mt-3 txtColorGold text-center">New Survey</h2>*@
                <p class="mt-5 mb-3txtColorBlue">@_Localizer.Text("Pleasefilltheform")</p>



                <div class="d-flex d-grid gap-1 ">

                    <div class="form-input" style="width:50%">
                        @*<label class="control-label align-self-center" style="width:30%;">Chosse Survey Type:</label>*@
                        <select asp-for="Type" class="form-control form-select form-controlNonSpace">

                            <option value="0">@_Localizer.Text("SelectSurveyType") </option>

                            @foreach (EnumCommon.SurveyType suit in (EnumCommon.SurveyType[])Enum.GetValues(typeof(EnumCommon.SurveyType)))
                            {

                                <option value="@(((int)suit).ToString())">@_Localizer.Text(suit.ToString())</option>

                            }
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>

                    </div>


                    <div class="form-input" style="width:50%">
                        @*<label class="control-label align-self-center" for="cars" style="width:30%;">Choose File Type:</label>*@
                        @*<select asp-for="FileFormatId" class="form-control form-select " asp-items="ViewBag.FileFormatId"></select>*@

                        <select asp-for="FileFormatId" class="form-control form-select form-controlNonSpace">


                            <option value="0">@_Localizer.Text("SelectFileFormat")</option>

                            @foreach (var suit in ViewBag.FileFormatId as SelectList)
                            {
                                <option value="@(suit.Value)">@(suit.Text)</option>
                            }
                        </select>
                        <span asp-validation-for="FileFormatId" class="text-danger"></span>

                    </div>

                </div>


                <div class="d-flex d-grid gap-1 ">

                    <div class="form-input" style="width:50%">
                        <input asp-for="Position" class="form-control form-controlNonSpace" placeholder="@_Localizer.Text("Position")" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>



                    @*<div class="form-input" style="width:50%">
                            <input asp-for="Date" class="form-control form-controlNonSpace" placeholder="  Survey Date " />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>*@


                    <div class="form-input" style="width:50%">
                        <i class="fa fa-calendar txtColorGold calsty"></i>
                        <input type="text" asp-for="Date" class="form-control form-controlNonSpace" placeholder="@_Localizer.Text("dateformat")">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>


                </div>

                <div class="form-input">
                    <input asp-for="Position" class="form-control form-controlNonSpace" placeholder="@_Localizer.Text("Purpose")" />
                    <span asp-validation-for="Purpose" class="text-danger"></span>
                </div>

                <div class="form-input">
                    <textarea asp-for="Description" class="form-control3 form-control2  " rows="5" placeholder="@_Localizer.Text("Description")"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-input mt-3 d-f text-center">
                    <div class="BoxDach p-3">
                        <!--<label for="file" class="form-label"> <i class="fa-solid fa-cloud-arrow-up inputfileicon"></i>-->@*<br /> @_Localizer.Text("UploadFile")*@
                        <!--</label>
                        <br />-->
                        <input asp-for="Files" type="file" class="" name="Files" id="Files" multiple>

                    </div>
                </div>

                <button type="submit" class="btn mt-4 signup backBlue text-white" style="width:100%"><h5>  @_Localizer.Text("Send")</h5> </button>


            </form>

        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Admin/FileUploader/js/fileinput.js"></script>
    <script src="~/Admin/FileUploader/js/locales/ar.js"></script>
    <script src="~/Admin/FileUploader/themes/explorer-fa/theme.js"></script>
    <script src="~/Admin/FileUploader/js/plugins/piexif.js"></script>
    <script src="~/Admin/FileUploader/js/plugins/sortable.js"></script>

    <script src="~/Admin/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/Admin/js/plugins/daterangepicker/daterangepicker.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {
            $('#Date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                dateFormat: "dd/mm/yyyy"
            });
            var check = "#sertype".val;
        });



        $("#Files").fileinput({
                language: "@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "en" : "ar")",
                theme: "explorer-fa",
                showUpload: false,
                maxFileSize: 10240,
                dropZoneEnabled: false,
            maxFileCount: 2,
            allowedFileExtensions: ["jpg", "png", "jpeg","pdf","doc"],
                mainClass: "input-group"
        });




    </script>

}