@using HydrographicOffice.Models;


@{
    var culture = System.Globalization.CultureInfo.CurrentCulture;

    LoginViewModel modellocal = new LoginViewModel();
    LoginRegisterVm loginRegisterVm = new LoginRegisterVm();


    if (ViewBag.model !=null)
    {
        modellocal = ViewBag.model as LoginViewModel;
    }
}

@inject CultureLocalizer _Localizer
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">


    <link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/scroller/2.0.5/css/scroller.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.css"
          type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">

    <link href="~/sty/all.min.css" rel="stylesheet" />


    @if (culture.Name.Contains("en-US"))
    {
        <link href="~/sty/Style_en.css" rel="stylesheet" />
        <style>
            .textRight {text-align-last: left; }
            .pull-right {float: right; }
            .form-select { background-position: right 0.75rem center;}
            .calsty { position: absolute; padding: 15px;right: 0; }

        </style>

    }
    else
    {
        <link href="~/sty/Style_ar.css" rel="stylesheet" />
        <style>
            .textRight { text-align-last: right; }
            .pull-right {float: left; }
            .form-select { background-position: left 0.75rem center;  }
            .calsty {position: absolute; padding: 15px;left: 0; }
        </style>
    }

    <link href="~/sty/archivestyle.css" rel="stylesheet" />
    <link href="~/sty/liberary.css" rel="stylesheet" />
    <link href="~/sty/Style-Page.css" rel="stylesheet" />
    <link href="~/sty/Style-Reg.css" rel="stylesheet" />



    <link href="~/Admin/FileUploader/css/fileinput.css" rel="stylesheet" />
    <link href="~/Admin/FileUploader/themes/explorer-fa/theme.css" rel="stylesheet">
    <link href="~/Admin/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/6.4.1/css/intlTelInput.css">


    <link href="~/sty/Style_file.css" rel="stylesheet">


</head>

<body dir="@(culture.Name.Contains("en-US")? "ltr" : "rtl")">




    <!-- header-->

    <div class="container-fluid ">
        <div class="d-flex justify-content-between ">
            <div class=" d-flex">
                <a class="navbar-brand " href="@Url.Action("Home", "Pages")"><img src="~/Images/logo.png" width="150" height="190" /> </a>

                @if (culture.Name.Contains("en-US"))
                {
                    <div class="align-self-center"> &nbsp &nbsp <span class="txtColorGold h3 "> <b>   @_Localizer.Text("omannational")</b></span> <br /> &nbsp &nbsp <span class="txtColorBlue h3"><b> @_Localizer.Text("HydroOffice")</b></span></div>
                }
                else
                {
                    <div class="align-self-center"> &nbsp &nbsp <span class="txtColorGold h3 "> <b>   @_Localizer.Text("HydroOffice")</b></span> <br /> &nbsp &nbsp <span class="txtColorBlue h3"><b> @_Localizer.Text("omannational")</b></span></div>

                }
            </div>
            <div class=" align-self-center">

                <div class="dropdown drop-down-style" style="float:right;">
                    <a class="nav-link dropdown-toggle txtColorBlue" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">

                        @if (!culture.Name.Contains("en-US"))
                        {
                            @:English
                        }
                        else
                        {
                            @:العربية
                        }


                    </a>

                    <ul class="dropdown-menu dropdown-menu-light " style=" min-width: 6rem" aria-labelledby="navbarDarkDropdownMenuLink">
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage">English</a></li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="ChangeLanguage">Arabic</a></li>
                    </ul>
                </div>

                <div>
                    <a class="nav-link " href="javascript:void(0)">
                        <input type="text" id="search-bar" placeholder="Search">
                        <i class="fa fa-search search-icon"></i>
                    </a>
                </div>



            </div>
        </div>

    </div>


    <!--  nav -->


    <nav class="navbar navbar-expand-sm navbar-dark backBlue sticky-top navStyle mt-2 ">
        <div class="container-fluid">

            <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="mynavbar">
                <!--// me-auto-->

                <ul class="@(culture.Name.Contains("en-US")? "navbar-nav navSpace me-auto " : "navbar-nav navSpace ms-auto")">

                    @*<ul class="navbar-nav navSpace me-auto">*@

                    <li class="nav-item "> <a class="nav-link" href="@Url.Action("Home", "Pages")">@_Localizer.Text("Home")</a></li>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"> @_Localizer.Text("whoweAre")</a>

                        <ul class=" dropdown-menu textRight">

                            <li><a class="dropdown-item" href="@Url.Action("WhoWeAre", "Pages")"> @_Localizer.Text("HydroHistory")</a></li>
                            <li><a class="dropdown-item " href="@Url.Action("Aims", "Pages")">    @_Localizer.Text("Aims")</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("NationalRole", "Pages")">@_Localizer.Text("RolesandResp") </a></li>
                        </ul>
                    </li>









                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> @_Localizer.Text("Services")</a>

                        <ul class="dropdown-menu textRight ">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "NoticeToMariner")">@_Localizer.Text("NoticetoMariners") </a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "NavigationWarning")"> @_Localizer.Text("NavigationalWarnings") </a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Create", "NewFeature")"> @_Localizer.Text("HydrographicNotes")</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Create", "NewSurvey")">  @_Localizer.Text("HydrographicSurvey")</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Create", "SpecialTask")"> @_Localizer.Text("SpecialTask")</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Create", "ServiceRequestType")">@_Localizer.Text("ProductsandData")</a></li>

                        </ul>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"> @_Localizer.Text("Activities")</a>

                        <ul class="dropdown-menu textRight ">

                            <li><a class="dropdown-item" href="@Url.Action("HydrographyUnit", "Pages") "> @_Localizer.Text("HydroUnit") </a></li>



                            <li class="d-flex dropdown-hover-all">
                                <div class="dropdown ">
                                    <div class="dropdown-toggle txtColorBlue submenu" id="dropdownMenuButton222" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>  @_Localizer.Text("NationalHydrogArchive")</b> </div>

                                    <div class="dropdown-menu submenu2 " aria-labelledby="dropdownMenuButton222" style=" margin-top:-30px; ">
                                        <hr id="lineDropdown" />


                                        <a class="dropdown-item" href=" @Url.Action("archive", "Pages") "> @_Localizer.Text("HydroArchiveSection")  </a>
                                        <a class="dropdown-item" href=" @Url.Action("archdata", "Pages") "> @_Localizer.Text("Marinedata") </a>
                                        <a class="dropdown-item" href=" @Url.Action("Index", "Omanbook") "> @_Localizer.Text("OmanMaritimeBook")  </a>

                                    </div>

                                </div>

                            </li>



                            <li><a class="dropdown-item" href="@Url.Action("MarineSafetyInformation", "Pages")"> @_Localizer.Text("MaritimeSafetyInfo")  </a></li>
                            <li><a class="dropdown-item" href="@Url.Action("MaritimeBorders", "Pages")"> @_Localizer.Text("MaritimeBoundaries") </a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Production", "Pages")">@_Localizer.Text("Production") </a></li>







                        </ul>
                    </li>





                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">@_Localizer.Text("Training")</a>






                        <ul class="dropdown-menu textRight ">

                            <li><a class="dropdown-item" href="@Url.Action("HydrographySchool", "Pages")"> @_Localizer.Text("HydroTrainSchool") </a></li>


                        </ul>
                    </li>


                    <li class="nav-item"> <a class="nav-link" href="@Url.Action("ContactUs", "Pages")">@_Localizer.Text("contactus")  </a></li>


                </ul>




                <form class="d-flex">
                    <div class="navSearch2">
                        <ul class="navbar-nav mr-auto d-flex justify-content-between listNavStyle navStyle d-grid gap-1" style="margin-right: 26px;">

                            @if (User != null && User.Identity.IsAuthenticated && User.Identity.Name != null)
                            {

                                <li class="nav-item text-white"> @User.Identity.Name</li>
                                <li class="nav-item text-white"><a asp-area="" asp-action="Logout" asp-controller="User"> <i class="fa fa-sign-out ps-3"></i> </a></li>
                            }
                            else
                            {

                                <li class="nav-item"> <a class="nav-link" data-bs-toggle="modal" data-bs-target="#myModalLogin"> @_Localizer.Text("SignUp")</a></li>
                                <li class="nav-item" id="slach"> <a class="nav-link"> /</a></li>
                                <li class="nav-item"> <a class="nav-link" data-bs-toggle="modal" data-bs-target="#myModalRegister">@_Localizer.Text("SignIn")</a></li>


                            }





                        </ul>
                    </div>
                </form>

            </div>

        </div>
    </nav>




    <!-- login _  Registeration -->



    <div class="modal fade" id="myModalLogin">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!--//login part-->
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-md-10 ">

                            @await Html.PartialAsync("~/Views/Shared/_loginpatial.cshtml", modellocal)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>




    <div class="modal fade" id="myModalRegister">
        <div class="modal-dialog modal-lg modal-dialog-centered  ">
            <div class="modal-content">

                <!--//Regteration part-->
                <div class="container">
                    <div class="row d-flex align-items-center justify-content-center">
                        <div class="col-md-10 ">
                            @await Html.PartialAsync("~/Views/Shared/_RegisterPariatl.cshtml", loginRegisterVm)
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col backImg"></div>
            <div class="col-9">
                <div class="container" style="margin-bottom: 60px;">
                    <main role="main" class="">

                        @RenderBody()
                    </main>
                </div>
            </div>
            <div class="col backImg"></div>
        </div>
    </div>




    <div class="container-fulid list-style text-white">
        <header>
            <div class="overlay"> </div>

            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="~/Video/Footer.mp4" type="video/mp4">
            </video>


            <div class="container p-5 text-white text-center">
                <h5 class="mb-3"><b> @_Localizer.Text("OfficeName")</b></h5>

                <a href="@Url.Action("Home", "Pages")" class="me-3 text-white">@_Localizer.Text("Home")</a>
                <a href="@Url.Action("Service", "Pages")" class="me-3 text-white">@_Localizer.Text("Services")</a>
                <a href="@Url.Action("WhoWeAre", "Pages")" class="me-3 text-white"> @_Localizer.Text("whoweAre")</a>

                <div class="mt-4">
                    @_Localizer.Text("LocationHydroOffice")   <br />
                    @_Localizer.Text("telepHydroOffice")<br />
                    @_Localizer.Text("EmailHydroOffice")
                </div>
            </div>

        </header>
    </div>


    <div class="text-center copyRightStyle  p-1">
        &copy;  @_Localizer.Text("CopyRight")
    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/Admin/js/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
    <script src="~/js/all.min.js"></script>
    <script src="~/sweetAlert/sweetalert.min.js"></script>


    <script>

        (function ($bs) {
            const CLASS_NAME = 'has-child-dropdown-show';
            $bs.Dropdown.prototype.toggle = function (_orginal) {
                return function () {
                    document.querySelectorAll('.' + CLASS_NAME).forEach(function (e) {
                        e.classList.remove(CLASS_NAME);
                    });
                    let dd = this._element.closest('.dropdown').parentNode.closest('.dropdown');
                    for (; dd && dd !== document; dd = dd.parentNode.closest('.dropdown')) {
                        dd.classList.add(CLASS_NAME);
                    }
                    return _orginal.call(this);
                }
            }($bs.Dropdown.prototype.toggle);

            document.querySelectorAll('.dropdown').forEach(function (dd) {
                dd.addEventListener('hide.bs.dropdown', function (e) {
                    if (this.classList.contains(CLASS_NAME)) {
                        this.classList.remove(CLASS_NAME);
                        e.preventDefault();
                    }
                    e.stopPropagation(); // do not need pop in multi level mode
                });
            });

            // for hover
            document.querySelectorAll('.dropdown-hover, .dropdown-hover-all .dropdown').forEach(function (dd) {
                dd.addEventListener('mouseenter', function (e) {
                    let toggle = e.target.querySelector(':scope>[data-bs-toggle="dropdown"]');
                    if (!toggle.classList.contains('show')) {
                        $bs.Dropdown.getOrCreateInstance(toggle).toggle();
                        dd.classList.add(CLASS_NAME);
                        $bs.Dropdown.clearMenus();
                    }
                });
                dd.addEventListener('mouseleave', function (e) {
                    let toggle = e.target.querySelector(':scope>[data-bs-toggle="dropdown"]');
                    if (toggle.classList.contains('show')) {
                        $bs.Dropdown.getOrCreateInstance(toggle).toggle();
                    }
                });
            });
        })(bootstrap);

    </script>


    @RenderSection("Scripts", required: false)
</body>
</html>
