@model IEnumerable<Hydro.BAL.DTO.ServiceRequestTypeDto>
@inject CultureLocalizer  _Localizer

@{
    ViewData["Title"] = "Index";
}

<h1>Service Request</h1>
@*<div id="UpdateRequest"></div>*@

<table class="table" id="tbl">
    <thead>
        <tr>
            
            <th>
                @_Localizer.Text("Items")
            </th>
            <th>
                @_Localizer.Text("Quantity")
            </th>
            <th>
                @_Localizer.Text("Postion")
            </th>
            <th>
                @_Localizer.Text("Description")
            </th>
            <th>
                @_Localizer.Text("Region")
            </th>
            <th>
                @_Localizer.Text("FileFormatId")
            </th>

            <th>
                @_Localizer.Text("StatusRequest")
            </th>
            <th>

            </th>

        </tr>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Categories.ItemName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Postion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Region)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FileFormat.FileType)
                </td>
                <td>
                    @_Localizer.Text(((EnumCommon.RequestStatus)item.Status).ToString())
                </td>
                <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    <button type="button" data-id="@item.Id"  class="btn btn-primary"  data-toggle="modal" id="Openbutton" data-target="#UpdateRequest">
                        Update Request
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="UpdateRequest">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UpdateRequestLable">Update Request</h5>
            </div>
            <div class="modal-body">
                <form >
                    <div class="form-group">
                        <label class="control-label">@_Localizer.Text("Status")</label>
                        <input type="hidden"  id="txtid"/>
                        <select id="selectstauts" class="form-control">
                            @foreach (EnumCommon.RequestStatus suit in (EnumCommon.RequestStatus[])Enum.GetValues(typeof(EnumCommon.RequestStatus)))
                            {

                                <option value="@(((int)suit).ToString())">@_Localizer.Text(suit.ToString())</option>

                            }
                        </select>
                     
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-primary" onclick="update()">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
       $(document).ready(function () {
            DrawTable();
           $("#Openbutton").click(function () {

               debugger;

               var Id = $(this).data('id');
               $("#txtid").val(Id);

           });
        });
        function DrawTable() {
            $("#tbl").dataTable({
                dom: '<"pull-left"B><"pull-right"f>rt<"row"<"col-sm-4"l><"col-sm-4"i><"col-sm-4"p>>',
                "autoWidth": true,
                "bFilter": true,
                "bSortable": true,
                ordering: true,
                language: {
                    loadingRecords: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "Loading..." : "تحميل البيانات ...")',
                    processing: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "Processing..." : "جاري تحميل البيانات ...")',
                    emptyTable:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"No data available in table":"لا توجد بيانات")',
                    info:     '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "Showing _START_ to _END_ of _TOTAL_ records" : "اظهار _START_ الى _END_ من _TOTAL_ سجلات")' ,
                    infoEmpty: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"No records found":"لا توجد سجلات")',
                    infoFiltered:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "(filtered1 from _MAX_ total records)" : "(تمت تصفيته من _MAX_ سجلات)")' ,
                    lengthMenu: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "Show _MENU_" : "اظهار _MENU_")',
                    search: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"Search:":"بحث:")',
                    zeroRecords: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"No matching records found":"لا توجد سجلات متطابقة")',
                    paginate: {
                        previous:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"Prev":"السابق")',
                        next:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"Next":"التالي")' ,
                        last:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"Last":"الأخير")' ,
                        first:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"First":"الأول")'
                    }
                },
                responsive: {
                    details: {
                    }
                },
                buttons: [
                    //'excelHtml5',
                    //'csvHtml5',
                    //'print'
                ],
               lengthMenu: [
                    [10, 25, 50, 100],
                    [10, 25, 50, 100]
                ],
                pageLength: 10,
                pagingType: "full_numbers"

            });
        }



        function update() {
            var stauts = $("#selectstauts").val();
            var objid = $("#txtid").val();
            var url = '@Url.Action("UpdateRequest")';
            $.ajax({
                Type: "Post",
                url: url,
                data: { 'stauts': stauts, 'id': objid },
                success: function (data) {
                    location.reload(true);

                }
            });
        };
    </script>
}





