@model ChangePasswordViewModel
@inject CultureLocalizer Localizer
@{
    ViewData["Title"] = "SupportData";
    //Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Layout = "_AdminLayout";

}



<style>

    .form-check-label {
        margin-top: 2px;
        font-size: 18px;
        margin-left: 160px;
    }
</style>

<h1 class="txtColorBlue text-center"><mark class="highlight">@Localizer.Text("ChangePassword") </mark></h1>

<hr />



<div class="container mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10 ">

            <form class="m-t" role="form" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-input d-flex">
                    <label asp-for="OldPassword" class="control-label align-self-center" style="width:18%;"></label>
                    <input asp-for="OldPassword" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>


                <div class="form-input d-flex">
                    <label asp-for="NewPassword" class="control-label align-self-center" style="width:18%;"></label>
                    <input asp-for="NewPassword" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>




                <div class="form-input">
                    <input type="submit" value="@Localizer.Text("Save")" class="btn mt-4 signup backBlue text-white" style="width:100%;font-size:22px;" />
                    @*<button class="btn btn-primary btn-sm" type="submit">@Localizer.Text("Save")</button>*@


                </div>


                <div class="form-input">


                    <a asp-area="Admin" asp-controller="Admins" asp-action="Index"><i class="fas fa-arrow-left"></i> &nbsp; @Localizer.Text("BackToList")</a>
                </div>


            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


@*<input type="hidden" name="OldPassword" value="@ViewBag.ID" class="form-control">*@


















