@model UserViewModel
@inject CultureLocalizer Localizer
@{
    ViewData["Title"] = "AddFrequency";
    //Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Layout = "_AdminLayout";

}



<!--//notice to marine-->
<div class="container ">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10 ">

            <form asp-action="New" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <h1 class="txtColorBlue text-center"><mark class="highlight">@Localizer.Text("AddUser") </mark></h1>

                <hr />

                <div class="form-input">
                    <input asp-for="Name" class="form-control form-controlNonSpace" placeholder="@Localizer.Text("Name")" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <div class="form-input">
                    <input asp-for="Email" class="form-control form-controlNonSpace" placeholder="@Localizer.Text("Email")" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div class="form-input">
                    <input asp-for="Password" class="form-control form-controlNonSpace" placeholder="@Localizer.Text("Password")" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>


                <div class="form-input d-flex">
                    <label class="me-5">@Localizer.Text("Roles")</label>

                    <div>
                        @foreach (var item in ViewBag.roles)
                        {
                         <input type="checkbox" value="@(item)" name="Roles" style=" width: 30px; height: 30px;" class="text-center" /> <span style="font-size:20px">@Localizer.Text(Convert.ToString(item))</span> <br />
                        }

                        <p>
                            <br />
                            <br />
                            <span asp-validation-for="Roles" class="text-danger"></span>
                        </p>
                    </div>

                </div>


                @*<div class="form-input d-flex">


                    <label asp-for="Roles" class="control-label align-self-center " style="width:15%;">@Localizer.Text("Roles") </label>


                    <select asp-for="Roles" class="form-control">
                        @foreach (var item in ViewBag.roles)
                        {

                            <option value="@(item)">  @Localizer.Text(Convert.ToString(item)) </option>

                        }

                    </select>

                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>*@



                @*<div class="form-input d-flex">

            <label asp-for="Roles" class="control-label align-self-center " style="width:15%;"> @Localizer.Text("Roles") </label>


            <select asp-for="Roles" class="form-control">
                @foreach (var item in ViewBag.roles)
                {
                    <input type="checkbox" value="@(item)" name="Roles" class="form-control">
                    @Localizer.Text(Convert.ToString(item))
                    <span></span>
                }

                <p>
                    <br />
                    <br />
                    <span asp-validation-for="Roles" class="text-danger"></span>
                </p>

            </select>

            <span asp-validation-for="Roles" class="text-danger"></span>
        </div>*@




                <div class="form-input">
                    <button type="submit" class="btn mt-4 signup backBlue text-white" style="width:100%;font-size:22px;"> save </button>


                </div>


                <div class="form-input">
                    <a asp-area="Admin" asp-controller="Admins" asp-action="Index"><i class="fas fa-arrow-left"></i> &nbsp; @Localizer.Text("BackToList")</a>
                </div>





            </form>

        </div>
    </div>
</div>


