@model UserViewModel
@inject CultureLocalizer Localizer
@{
    ViewData["Title"] = "AddFrequency";
    //Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    Layout = "_AdminLayout";

}







<style>

    .form-check-label {
        margin-top: 2px;
        font-size: 18px;
        margin-left: 160px;
    }

 
</style>

<h1 class="txtColorBlue text-center"><mark class="highlight">@Localizer.Text("UpdateUser") </mark></h1>

<hr />



<div class="container mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10 ">

            <form class="m-t" role="form" method="post" enctype="multipart/form-data">


                @Html.HiddenFor(x => x.Id)
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="text-success">@ViewBag.Done</div>

                @*<input type="hidden" asp-for="Id" />*@



                <div class="form-input d-flex">
                    <label asp-for="Name" class="control-label align-self-center" style="width:18%;"></label>
                    <input asp-for="Name" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>


                <div class="form-input d-flex">
                    <label asp-for="Email" class="control-label align-self-center" style="width:18%;"></label>
                    <input asp-for="Email" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <div class="form-input d-flex">
                    <label class="me-5" style="width: 100px; padding-right: 4px; ">@Localizer.Text("Roles")</label>

                    <div style="width:100%">
                        @foreach (var item in ViewBag.roles)
                        {
                            <input type="checkbox" value="@(item)" name="Roles" style=" width: 30px; height: 30px;" class="text-center" /> <span style="font-size:20px">@Localizer.Text(Convert.ToString(item))</span> <br />
                        }

                        <p>
                            <br />
                            <br />
                            <span asp-validation-for="Roles" class="text-danger"></span>
                        </p>
                    </div>

                </div>






                <div class="form-input">
                    <input type="submit" value="@Localizer.Text("Save")" class="btn mt-4 signup backBlue text-white" style="width:100%;font-size:22px;" />

                </div>

                <div class="form-input">

                    <a asp-area="Admin" asp-controller="Admins" asp-action="Index"><i class="fas fa-arrow-left"></i> &nbsp;@Localizer.Text("BackToList")</a>
                </div>



            </form>
        </div>
    </div>
</div>

