@model IEnumerable<Hydro.BAL.DTO.NewFeaturesDto>
@inject CultureLocalizer  _Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}




<link href="~/Admin/sty/Style-Page.css" rel="stylesheet" />

<h1 class="txtColorBlue text-center"><mark class="highlight">New Feature</mark></h1>

<hr />
<div class="container">





    <div class="p-1 scrollmenu " style="overflow-x:auto;">

        <table class="table tbl shadow-lg p-3 mb-5 bg-body rounded" id="tbl">

            <thead>
                <tr>
                    <th style=" width: 10px;">
                        @Html.DisplayNameFor(model => model.Status)
                    </th>

                    @*<th style=" width: 1px;">
                            @Html.DisplayNameFor(model => model.Email)
                        </th>

                        <th style=" width: 1px;">
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>

                        <th style=" width: 1px;">
                            @Html.DisplayNameFor(model => model.Organization)
                        </th>*@

                    <th style=" width: 100px;">
                        @Html.DisplayNameFor(model => model.Position)
                    </th>

                    <th style=" width: 120px;">
                        @Html.DisplayNameFor(model => model.NewFeatureDate)
                    </th>

                    <th style=" width: 100px;">
                        @Html.DisplayNameFor(model => model.Region)
                    </th>


                    <th style=" width: 100px;">
                        @_Localizer.Text("StatusRequest")
                    </th>

                    <th style=" width: 150px;" data-orderable="false">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (((EnumCommon.Status)item.Status).ToString() == "Close")
                    {
                        <tr style="background-color: #daeffe !important ">

                            <td>
                                @_Localizer.Text(((EnumCommon.StatusNewFeature)item.Status).ToString())
                            </td>

                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Organization)
                                </td>*@

                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewFeatureDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Region)
                            </td>


                            <td>
                                @_Localizer.Text(((EnumCommon.Status)item.RequestStatus).ToString())
                            </td>



                            <td class="d-flex justify-content-center">

                                <div class="ps-2 iconDetail">
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-file-lines" style="font-size:25px;"></i>@*Details*@</a>
                                </div>




                                @*<div class="ps-2 iconDel"><a asp-action="Delete" asp-route-id="@item.Id"><img src="~/Admin/Images/test1.png" style="width:40px;height:35px" /></a></div>*@




                                @*<div>
            <button type="button" data-id="@item.Id" class="btn signup backBlue text-white Openbutton" data-toggle="modal" data-target="#UpdateRequest">
                Update Request
            </button>
        </div>*@


                                <div class="ps-2 iconDown">
                                    <a data-id="@item.Id" class="Openbutton2">  <i class="fa-solid fa-download" style="font-size: 25px; color: #409eff "></i> </a>
                                </div>



                                @*<div class="d-flex ps-2 iconDown" style="margin-right:10px;">


            foreach (var item2 in item.ListOfFiles.ToList())
            {
                <a href="~/UploadedFiles/item2.Path" download="download">item2.ParentId<i class="fa-solid fa-download" style="font-size:25px;"></i></a>
            }

        </div>*@


                                <div class="ps-2 iconreq1">
                                    <a data-id="@item.Id" class="Openbutton" data-toggle="modal" data-target="#UpdateRequest"><img src="~/Admin/Images/test1.png" style="width:40px;height:35px" />@*request*@</a>
                                </div>



                            </td>

                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @_Localizer.Text(((EnumCommon.StatusNewFeature)item.Status).ToString())
                            </td>

                            @*<td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Organization)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewFeatureDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Region)
                            </td>


                            <td>
                                @_Localizer.Text(((EnumCommon.Status)item.RequestStatus).ToString())
                            </td>


                            <td class="d-flex justify-content-center">

                                <div class="ps-2 iconDetail">  <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-file-lines" style="font-size:25px;"></i>@*request*@</a> </div>


                                <!--<div class="ps-2 iconreq1"> <a data-id="@item.Id" class="Openbutton" data-toggle="modal" data-target="#UpdateRequest"><i class="fa-solid fa-code-pull-request" style="font-size:25px;"></i>-->@*Details*@<!--</a></div>-->
                                @*<div>
            <button type="button" data-id="@item.Id" class="btn signup backBlue text-white Openbutton" data-toggle="modal" data-target="#UpdateRequest">
                Update Request
            </button>
        </div>*@


                                <div class="ps-2 iconDown">
                                    <a data-id="@item.Id" class="Openbutton2">  <i class="fa-solid fa-download" style="font-size: 25px; color: #409eff ;"></i> </a>
                                </div>


                                @*<div class="d-flex ps-2 iconDown" style="margin-right:10px;">

                                    foreach (var item2 in item.ListOfFiles.ToList())
                                    {
                                        <a href="~/UploadedFiles/item2.Path" download="download">item2.ParentId<i class="fa-solid fa-download" style="font-size:25px;"></i></a>
                                    }
                                </div>*@




                                <div class="ps-2 iconreq1">
                                    <a data-id="@item.Id" class="Openbutton" data-toggle="modal" data-target="#UpdateRequest"><img src="~/Admin/Images/test1.png" style="width:40px;height:35px" />@*request*@</a>
                                </div>




                            </td>
                        </tr>
                    }

                }
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="UpdateRequest">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="UpdateRequestLable">Update Request</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="control-label">@_Localizer.Text("Status")</label>
                        <input type="hidden" id="txtid" />

                        <div class="form-input">
                            <label for="cars">Choose Your Status: </label>

                            <select id="selectstauts" class="form-control" style="height: 50px;">
                                @foreach (EnumCommon.Status suit in (EnumCommon.Status[])Enum.GetValues(typeof(EnumCommon.Status)))
                                {

                                    <option value="@(((int)suit).ToString())">@_Localizer.Text(suit.ToString())</option>

                                }
                            </select>

                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn signup bg-success text-white" onclick="update()">Save changes</button>
                <button type="button" class="btn signup bg-danger text-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




<!-- The Modal Downoload -->

<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Downolad files</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body " id="data">
               

            </div>

        </div>
    </div>
</div>








@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script>


       $(document).ready(function () {
            DrawTable();
           $(".Openbutton").click(function () {

               debugger;

               var Id = $(this).data('id');
               $("#txtid").val(Id);

           });


           $(".Openbutton2").click(function () {


               var Id = $(this).data('id');
               $("#txtid").val(Id);
                 var url = '@Url.Action("patrialDetails")';
               $.ajax({
                   Type: "Post",
                   url: url,
                   data: { 'Id': Id },
                   success: function (data) {
                       $("#data").html(data);
                       jQuery("#myModal").modal('show');

                   }
               });

           });




        });
        function DrawTable() {
            $("#tbl").dataTable({
                dom: '<"pull-left"B><"pull-right"f>rt<"row"<"col-sm-4"l><"col-sm-4"i><"col-sm-4"p>>',
                "autoWidth": true,
                "bFilter": true,
                "bSortable": true,
                ordering: true,
                language: {
                    loadingRecords: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "Loading..." : "تحميل البيانات ...")',
                    processing: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "Processing..." : "جاري تحميل البيانات ...")',
                    emptyTable:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"No data available in table":"لا توجد بيانات")',
                    info:     '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "Showing _START_ to _END_ of _TOTAL_ records" : "اظهار _START_ الى _END_ من _TOTAL_ سجلات")' ,
                    infoEmpty: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"No records found":"لا توجد سجلات")',
                    infoFiltered:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "(filtered1 from _MAX_ total records)" : "(تمت تصفيته من _MAX_ سجلات)")' ,
                    lengthMenu: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "Show _MENU_" : "اظهار _MENU_")',
                    search: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"Search:":"بحث:")',
                    zeroRecords: '@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"No matching records found":"لا توجد سجلات متطابقة")',
                    paginate: {
                        previous:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"Prev":"السابق")',
                        next:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"Next":"التالي")' ,
                        last:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"Last":"الأخير")' ,
                        first:'@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")?"First":"الأول")'
                    }
                },
                responsive: {
                    details: {
                    }
                },
                buttons: [
                    //'excelHtml5',
                    //'csvHtml5',
                    //'print'
                ],
               lengthMenu: [
                    [10, 25, 50, 100],
                    [10, 25, 50, 100]
                ],
                pageLength: 10,
                pagingType: "full_numbers"

            });
        }



        function update() {
            var stauts = $("#selectstauts").val();
            var objid = $("#txtid").val();
            var url = '@Url.Action("UpdateRequest")';
            $.ajax({
                Type: "Post",
                url: url,
                data: { 'stauts': stauts, 'id': objid },
                success: function (data) {
                    location.reload(true);

                }
            });
        };
    </script>
}

