@inject CultureLocalizer  _Localizer
@{
    ViewData["Title"] = "Home Page";

    var X = _Localizer.Text("Home");
    var culture = System.Globalization.CultureInfo.CurrentCulture;

}

<link href="~/Admin/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">



<video width="100%" playsinline autoplay muted loop class="mt-2" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) inset; mix-blend-mode: multiply; ">
    <source src="~/Video/OHNO.mov" type="video/mp4">

</video>




<div class="container-fluid mt-5 text-center">
    
    <h2 class=" mt-5 txtColorBlue">@_Localizer.Text("OurServices")</h2>

    <div class="row mt-5 txtColorBlue justify-content-center list-style">

        <div class="col-lg-2 col-md-4">
            <a href="@Url.Action("Index", "NoticeToMariner")">
                <div class="centerimgCir">
                    <img src="~/Images/not1.png" class="rounded-circle  imgstylecir " width="150" height="150" style="object-fit: scale-down; ">
                    <div class="overlay2 rounded-circle"></div>
                </div>
                <br />
                <h5><p class=""> @_Localizer.Text("NoticetoMariners") </p></h5>
            </a>
        </div>

        <div class="col-lg-2 col-md-4">
            <a href="@Url.Action("Index", "NavigationWarning")">
                <div class="centerimgCir">
                    <img src="~/Images/Nav.png" class="rounded-circle  imgstylecir " width="150" height="150" style="">
                    <div class="overlay2 rounded-circle"></div>
                </div>
                <br />

                <h5> <p>  @_Localizer.Text("NavigationalWarnings") </p></h5>
            </a>
        </div>




        <div class="col-lg-2 col-md-4">
            <a href="@Url.Action("Create", "NewFeature")">
                <div class="centerimgCir">
                    <img src="~/Images/New.png" class="rounded-circle  imgstylecir " width="150" height="150">
                    <div class="overlay2 rounded-circle"></div>
                </div>
                <br />

                <h5><p> @_Localizer.Text("HydrographicNotes")</p></h5>
            </a>
        </div>


        <div class="col-lg-2 col-md-4">
            <a href="@Url.Action("Create", "NewSurvey")">
                <div class="centerimgCir">
                    <img src="~/Images/news.png" class="rounded-circle  imgstylecir " width="150" height="150">
                    <div class="overlay2 rounded-circle"></div>
                </div>
                <br />

                <h5><p> @_Localizer.Text("HydrographicSurvey") </p></h5>
            </a>
        </div>

        <div class="col-lg-2 col-md-4">
            <a href="@Url.Action("Index", "Omanbook")">
                <div class="centerimgCir">
                    <img src="~/Images/omanbook.png" class="rounded-circle  imgstylecir " width="150" height="150">
                    <div class="overlay2 rounded-circle"></div>
                </div>
                <br />

                <h5><p>@_Localizer.Text("OmanMaritimeBook")</p></h5>
            </a>
        </div>


        <div class="col-lg-2 col-md-4">
            <a href="@Url.Action("Create", "ServiceRequestType")">
                <div class="centerimgCir">
                    <img src="~/Images/data.png" class="rounded-circle  imgstylecir " width="150" height="150">
                    <div class="overlay2 rounded-circle"></div>
                </div>
                <br />

                <h5><p>@_Localizer.Text("ProductsandData")  </p></h5>
            </a>
        </div>


    </div>
</div>


<div class="container-fluid p-5 text-center txtColorBlue">


    <div class="row no-gutters">

        <div class="col-md-4 p-4 BackHighColor">
            <div class="p-3">
                <img src="~/Images/portal.png" width="120" height="120" class="mb-3" />
                <p><a href="http://ocsew1/ocse/index.html">@_Localizer.Text("Marinedata") </a></p>
                <p>@_Localizer.Text("MarinedataInfo")</p>
            </div>
        </div>


        <div class="col-md-4 p-4 ">
            <div class="p-3">
                <img src="~/Images/multi.png" width="120" height="120" class="mb-3" />

                <p><a href="@Url.Action("PhotoGallery", "Pages")"> @_Localizer.Text("PhotoGallery")</a></p>

                <p>@_Localizer.Text("PhotoGalleryInfo")</p>
            </div>
        </div>


        <div class="col-md-4 p-4 BackHighColor ">
            <div class="p-3">
                <img src="~/Images/pp3.png" width="120" height="120" class="mb-3" />

                <p><a href="@Url.Action("IndexMap", "Pages")"> @_Localizer.Text("ChartIndex")</a></p>
                <p>@_Localizer.Text("ChartIndexInfo")</p>
            </div>
        </div>

    </div>





    <div class="row no-gutters">

        <div class="col-md-4 p-4 ">
            <div class="p-3 list-style">
                <img src="~/Images/org.png" width="90" height="90" class="mb-3" />
                <p>@_Localizer.Text("HydroOrg")</p>

                <a href="https://iho.int/">  @_Localizer.Text("IHO") <i class="fa-solid fa-arrow-up-right-from-square"></i> </a><br />
                <a href="https://www.imo.org/">@_Localizer.Text("IMO")<i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />
                <a href="https://www.gov.uk/government/organisations/uk-hydrographic-office">@_Localizer.Text("USHO")    <i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />

            </div>
        </div>


        <div class="col-md-4 p-4 BackHighColor">
            <div class="p-3  list-style">
                <img src="~/Images/links.png" width="90" height="90" class="mb-3" />
                <p>@_Localizer.Text("Quicklinks")  </p>

                <a href="https://www.ita.gov.om/itaportal/About/about.aspx">   @_Localizer.Text("ITA") <i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />
                <a href="https://fm.gov.om/">    @_Localizer.Text("FMGOV")  <i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />
                <a href="https://www.squ.edu.om/squ-ar">  @_Localizer.Text("SQU")<i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />
                <a href="https://www.maf.gov.om/">   @_Localizer.Text("MAF")<i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />

            </div>

        </div>


        <div class="col-md-4 p-4  ">
            <div class="p-3 list-style">
                <img src="~/Images/ads.png" width="90" height="90" class="mb-3" />

                <p>@_Localizer.Text("Announcement")</p>

                <a href="">  ############################################<i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />
                <a href="">  ############################################<i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />
                <a href="">  ############################################<i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />

            </div>

        </div>

    </div>

</div>






@section Scripts{
    <script src="~/sweetAlert/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


    <script src="~/Admin/js/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.min.js"></script>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/js/all.min.js"></script>
    <script>

    $(document).ready(function () {
    debugger;
    if ('@ViewBag.Done' != '' && '@ViewBag.Done' != null) {

    swal('@(System.Globalization.CultureInfo.CurrentCulture.DisplayName.Contains("English")? "Done.. Your Request Success" : "تم ارسال طلبك")', "", "success");
    }
    });
    </script>
}
