@model HydrographicOffice.Models.NoticeToMVm
@inject CultureLocalizer  _Localizer
@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";

}

<style>

    .form-check-label {
        margin-top: 2px;
        font-size: 18px;
        margin-left: 160px;
    }
</style>

<h1 class="txtColorBlue text-center"><mark class="highlight">@_Localizer.Text("Notice To Mariner") </mark></h1>

<hr />



<div class="container mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-10 ">

            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-input d-flex">
                    <label asp-for="NoticeType" class="control-label align-self-center" style="width:20%;">@_Localizer.Text("NoticeType")</label>

                    <select asp-for="NoticeType" class="form-control">
                        @foreach (EnumCommon.NoticeToMariner suit in (EnumCommon.NoticeToMariner[])Enum.GetValues(typeof(EnumCommon.NoticeToMariner)))
                        {

                            <option value="@(((int)suit).ToString())">@_Localizer.Text(suit.ToString())</option>

                        }
                    </select>
                    <span asp-validation-for="NoticeType" class="text-danger"></span>
                </div>

                <div class="form-input d-flex">
                    <label asp-for="NotiecDesc" class="control-label align-self-center" style="width:20%;"></label>
                    <textarea asp-for="NotiecDesc" class="form-control3 form-control2  " rows="5" placeholder=" Description . . ."></textarea>
                    <span asp-validation-for="NotiecDesc" class="text-danger"></span>
                </div>

                <div class="form-input d-flex">
                    <label asp-for="NoticeFileName" class="control-label align-self-center" style="width:20%;"></label>
                    <input asp-for="NoticeFileName" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="NoticeFileName" class="text-danger"></span>
                </div>

                <div class="form-input d-flex">
                    <label asp-for="NoticeDate" class="control-label align-self-center" style="width:20%;"></label>
                    <input asp-for="NoticeDate" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="NoticeDate" class="text-danger"></span>
                </div>

                <div class="form-input d-flex">
                    <label asp-for="NoticeEdition" class="control-label align-self-center" style="width:20%;"></label>
                    <input asp-for="NoticeEdition" class="form-control form-controlNonSpace" />
                    <span asp-validation-for="NoticeEdition" class="text-danger"></span>
                </div>
                <div class="form-input d-flex">
                    <label asp-for="UploadeFile" class="control-label align-self-center" style="width:20%;"></label>

                     <a href="~/UploadedFiles/@Html.DisplayFor(model =>model.UploadeFile)"download="file" target="_blank"></a>
                </div>

                <div class="form-input">
                    <label class="control-label align-self-center" style="width:20%;">@_Localizer.Text("UploadFile")</label>
                    <input type="file" asp-for="File" />
                 
                </div>


                <div class="form-input">
                    <input type="submit" value="Save" class="btn mt-4 signup backBlue text-white" style="width:100%;font-size:22px;" />

                </div>


                <div class="form-input">

                    <a asp-action="Index"><i class="fas fa-arrow-left"></i> &nbsp; Back to List</a>
                </div>

            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        updateList = function () {
            debugger;
            var input = document.getElementById('Files');
            var output = document.getElementById('fileList');
            var children = "";
            for (var i = 0; i < input.files.length; ++i) {
                children += '<li>' + input.files.item(i).name + '</li>';
            }
            output.innerHTML = '<ul>' + children + '</ul>';
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


